$accentColor = #5E64FF;
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$bgDark = #343a40;

.theme-container .navbar
    background-color: $bgDark

    .site-name
        color: #fff

.content img
    border: 1px solid $borderColor
    border-radius: 6px